<a href="https://colab.research.google.com/github/Nourelhouda1996/DataScience-1/blob/main/sales_predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
filename="/sales_predictions_2023.csv"
df=pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

Question 1:

In [1]:
import pandas as pd
filename="/content/sales_predictions_2023.csv"
df=pd.read_csv(filename)
df.head()
Number_columns=df.shape[1]
Number_rows=df.shape[0]
print('The number of columns is', Number_columns)
print('The number of columns is', Number_rows)

The number of columns is 12
The number of columns is 8523

Question 2

In [5]:
df_types=df.dtypes
print(df_types)

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Question 3

In [10]:
df_duplicate=df.duplicated().sum()
print(df_duplicate)

0

Question 4

In [11]:
missing_values=df.isna()

print(missing_values)

      Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  \
0               False        False             False            False
1               False        False             False            False
2               False        False             False            False
3               False        False             False            False
4               False        False             False            False
...               ...          ...               ...              ...
8518            False        False             False            False
8519            False        False             False            False
8520            False        False             False            False
8521            False        False             False            False
8522            False        False             False            False

      Item_Type  Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  \
0         False     False              False                      False
1         False     False              False                      False
2         False     False              False                      False
3         False     False              False                      False
4         False     False              False                      False
...         ...       ...                ...                        ...
8518      False     False              False                      False
8519      False     False              False                      False
8520      False     False              False                      False
8521      False     False              False                      False
8522      False     False              False                      False

      Outlet_Size  Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0           False                 False        False              False
1           False                 False        False              False
2           False                 False        False              False
3            True                 False        False              False
4           False                 False        False              False
...           ...                   ...          ...                ...
8518        False                 False        False              False
8519         True                 False        False              False
8520        False                 False        False              False
8521        False                 False        False              False
8522        False                 False        False              False

[8523 rows x 12 columns]

Question 5

In [21]:
df_fill=df.fillna(0)

df_check=df_fill.isna()
print(df_check)
df_check.head()

      Item_Identifier  Item_Weight  Item_Fat_Content  Item_Visibility  \
0               False        False             False            False
1               False        False             False            False
2               False        False             False            False
3               False        False             False            False
4               False        False             False            False
...               ...          ...               ...              ...
8518            False        False             False            False
8519            False        False             False            False
8520            False        False             False            False
8521            False        False             False            False
8522            False        False             False            False

      Item_Type  Item_MRP  Outlet_Identifier  Outlet_Establishment_Year  \
0         False     False              False                      False
1         False     False              False                      False
2         False     False              False                      False
3         False     False              False                      False
4         False     False              False                      False
...         ...       ...                ...                        ...
8518      False     False              False                      False
8519      False     False              False                      False
8520      False     False              False                      False
8521      False     False              False                      False
8522      False     False              False                      False

      Outlet_Size  Outlet_Location_Type  Outlet_Type  Item_Outlet_Sales
0           False                 False        False              False
1           False                 False        False              False
2           False                 False        False              False
3           False                 False        False              False
4           False                 False        False              False
...           ...                   ...          ...                ...
8518        False                 False        False              False
8519        False                 False        False              False
8520        False                 False        False              False
8521        False                 False        False              False
8522        False                 False        False              False

[8523 rows x 12 columns]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False

Question 7:

In [23]:
df_replace=df['Item_Fat_Content'].replace({'LF':'Low Fat',
                                           'reg':'Regular'})

df_replace.head()

0    Low Fat
1    Regular
2    Low Fat
3    Regular
4    Low Fat
Name: Item_Fat_Content, dtype: object

Question 8

In [27]:
df_max1=df['Item_Weight'].max()
print('max weight', df_max1)
df_max2=df['Item_Outlet_Sales'].max()
print('Max Item_Outlet_Sales is', df_max2)

df_min1=df['Item_Outlet_Sales'].min()
print('Min Item_Outlet_Sales is', df_min1)

df_min2=df['Item_Weight'].min()
print('min weight', df_min2)

df_average=df['Item_MRP'].mean()
print('The avearge is', df_average)

max weight 21.35
Max Item_Outlet_Sales is 13086.9648
Min Item_Outlet_Sales is 33.29
min weight 4.555
The avearge is 140.9927819781767